.wm-banner-wrapper{

  .block{
    padding 0px 0 15px 0
    .address-line{
      display block
      line-height 30px
      font-size 18px
      margin-bottom 15px
      text-align center
      background-color #304457
      color #fff
      padding 6px
    }
    .el-date-editor{
      margin-left 15px
    }
  }
  .doc-download-link-wrapper, .send-ofi-btn-wrapper{
    display block
    padding-bottom 15px
    padding-left 20px
    .doc-download-link, .help-link{
      color color-dark-blue
    }
    .el-tag{
      .total{
        font-size 16px
      }
    }
  }
  .send-ofi-btn-wrapper{
    border-1px(rgba(7,17,27,0.1))
    .el-button-group{
      a{
        color color-black
      }
    }
    p{
      a{
        color color-dark-blue
      }
    }
  }
}
