color-dark-blue = #1D8CE0
color-blue = #20A0FF
color-grey = #8492a6
color-light-grey = #d3dce6
color-red = #FF4949
color-green = #13CE66
color-dark-white = #F9FAFC
color-black = #1F2D3D

body{
  color: color-black
}

.txt-center{
  text-align: center
}

.txt-white{
  color #fff !important
}

.mb20{
  margin-bottom: 20px !important
}
.mr20{
  margin-right 20px
}

.hidden{
  display: none
}

.el-message-box{
  width 300px
}

.separator-line{
  margin 0
  border-1px(rgba(7,17,27,0.1))
  display block
}

.has-shadow{
  -webkit-box-shadow: 4px 3px 5px 1px rgba(204,204,204,0.6)
  -moz-box-shadow: 4px 3px 5px 1px rgba(204,204,204,0.6)
  box-shadow: 4px 3px 5px 1px rgba(204,204,204,0.6)
}

.clearfix{
  clear both
  width 100%
  display block
  height 1px
}

.pull-left{
  float left
}
.pull-right{
  float right
}
