.buyer-form-wrapper{
  padding 10px
  .pre-existing-title{
    font-size 20px
    margin-bottom 20px
  }
  .pre-existing-content{
    line-height 22px
    font-size 14px
    color color-grey
  }
  .form-title{
    margin-bottom 20px
    padding-bottom 10px
    border-1px(rgba(7,17,27,0.1))
  }
  .el-form{
    padding-left 10px
    padding-right 10px
    .show-more-btn-wrapper{
      border-top: 1px solid #eaeefb
      height: 36px
      box-sizing: border-box
      background-color: #fff
      border-bottom-left-radius: 4px
      border-bottom-right-radius: 4px
      text-align: center
      margin-top: 15px
      margin-bottom 20px
      color: #d3dce6
      cursor: pointer
      transition: .2s
      position: relative
      padding-top 10px
      .show-more-btn{
        color #d3dce6
      }
    }
    .el-collapse{
      border-left none
      border-right none
      .el-collapse-item{
        .el-collapse-item__header{
          border-left 1px solid #e0e6ed
          border-right 1px solid #e0e6ed
        }
        .el-collapse-item__wrap{
          background-color #ffffff
          height: auto
          .el-collapse-item__content{
            padding-right 0px
            padding-left 0px
            .extra-fields-wrapper{
              margin-top 15px
              .el-select{
                width 100%
              }
              .el-radio-group-wrapper{
                display block
                text-align center
                margin-top -10px
                margin-bottom 10px
              }
            }
            .subtitle{
              font-size 16px
            }
          }
        }
      }
    }
    .el-input{
      width 70%
    }
    .phone-input{
      width 70%
    }
    .email-input{
      width 80%
    }
    a.call-btn-wrapper{
      display block
      float right
      margin-top 3px
      .call-btn{
        line-height 30px
        font-size 16px
        color #eaeefb
        margin-left 5px
      }
      .call-btn-active{
        background-color color-dark-blue
        color #fff
        padding 8px
      }
    }
    .save-button-wrapper{
      margin 20px
      text-align center
      .el-button{
        border-radius 0
      }
    }
  }
}
